---
layout: page
description: "csiu's blog"
---
{% for post in paginator.posts %}
<div class="post-preview">

  {% if post.tags.size > 0 %}
    {% capture tags_content %}
    <!-- {% if post.tags.size == 1 %}<i class="fa fa-tag"></i>{% else %}<i class="fa fa-tags"></i>{% endif %} -->
     | Tagged with: {% endcapture %}

    {% for post_tag in post.tags %}
      {% assign tag = site.data.tags[post_tag] %}
      {% if tag %}
        {% capture tags_content_temp %}{{ tags_content }}<a href="/tag/{{ tag.slug }}/">{{ tag.name }}</a>{% if forloop.last == false %}, {% endif %}{% endcapture %}
        {% assign tags_content = tags_content_temp %}
      {% endif %}
    {% endfor %}
  {% else %}
    {% assign tags_content = '' %}
  {% endif %}

  <a href="{{ post.url | prepend: site.baseurl }}">
    <h2 class="post-title">
      {{ post.title }}
    </h2>
    {{ post.excerpt | strip_html }}

    {% if post.subtitle %}
    <h3 class="post-subtitle">
      {{ post.subtitle }}
    </h3>
    {% endif %}
  </a>
  <p class="post-meta">
    Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} on {{ post.date | date: "%B %-d, %Y" }}{{ tags_content }}
  </p>
</div>
<hr>
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
  </li>
  {% endif %}

  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}
